<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<body>
  
  <header>
    <%- include('layout/nav') %>
    <h1>
      Nutri-Track
    </h1>
  </header>
  <main>


    <form action="/new-meal" method="GET" >      
      <button class="get-started-button" type="submit">Click here to get started!</button>
    </form>


    <h2>My Saved Meals</h2>

    <ul class=saved-meals>
      <li>
        <% mealList.forEach( meal => { %>
          <h3><%= meal.name %></h3>
          <p><%= meal.description %></p>
          <img src="<%=meal.img_url%>" alt="picture of meal" />
        <% }) %>

      </li>
    </ul>


  </main>

</body>

</html>