<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('layout/head') %>
</head>

<body>
  
  <header>
    <%- include('layout/nav') %>
  </header>
  <main>


    <form action="/new-meal" method="GET"class="get-started-form">      
      <button class="get-started-button" type="submit">Click here to get started!</button>
    </form>


    <h2 class="page-header">My Saved Meals</h2>
    <section class=saved-meals>
    <% mealList.forEach( meal => { %>
    <form action="/meals/<%= meal.id%>" method="get">
      <div>
          <h3><%= meal.name %></h3>
          <input type="hidden" name="id" value ="<%=meal.id%>">
          
            <input class="meal-image" type="image" src="<%=meal.image_url%>" alt="Submit">
          
      </div>
    </form>
    <% }) %>
    </section>


  </main>

</body>

</html>