<!DOCTYPE html>

<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    
    <main>
      <section class="meal-edit">
        <h1><%=ingredients[0].name%></h1>
        <form action="/meals-edit" method="post">
          <input type="hidden" name="meal_id" value="<%= ingredients[0].id%>" required>
          <input type="submit" value="Edit Meal Properties" name="update">
          <input type="submit" value="Delete Meal" name="update" formaction="/meals-delete">
        </form>
      </section>
      
      <section class="search">
        <h2>Search Ingredients</h1>
        <form action="/meals/<%= ingredients[0].id%>" method="post">
          <input type="hidden" name="meal_id" value="<%= ingredients[0].id%>" required>
          <input type="text" name="search" placeholder="Enter a Food Item" required>
          <button type="submit">Search</button>
        </form>
      </section>
      <%let amount = 0%>
      <%let calories = 0%>
      <%let fat = 0%>
      <%let protein = 0%>
      <%let carbs = 0%>
      <%let fiber = 0%>
      <%let sugar = 0%>
      <form id="update-amount" action="/delete" method="post"> 
      <input type="hidden" name="meal_id" value="<%= ingredients[0].id%>" required>

      <section class="table-scroll">
      <table class="ingredient-container">
        <tr>
          <th class="ingredient-name">Ingredient</th>
          <th class="ingredient-amount">Amount (g)</th>
          <th class="ingredient-calories">Calories (kcal)</th>
          <th class="ingredient-fat">Total Fat (g)</th>
          <th class="ingredient-protein">Protein(g)</th>
          <th class="ingredient-carbs">Carbs (g)</th>
          <th class="ingredient-fiber">Fiber (g)</th>
          <th class="ingredient-sugar">Sugar (g)</th>
          <th class="ingredient-delete">Delete</th>
        </tr>
      <% if (ingredients[0].ingredient !==null) {%>
      <% ingredients.forEach(element => { %>
        
        <%amount += parseInt(element.amount)%>
        <%calories += parseInt(element.calories)%>
        <%fat += parseFloat(element.fat)%>
        <%protein += parseFloat(element.protein)%>
        <%carbs += parseFloat(element.carbs)%>
        <%fiber += parseFloat(element.fiber)%>
        <%sugar += parseFloat(element.sugar)%>
        
        <tr>
          <td class="ingredient-name"><%= element.ingredient %></td>
          <input type="hidden" name="ingredient" value="<%= element.ingredient%>">
          <td class="ingredient-amount"><input type="text" name="amount" value="<%=element.amount%>"></td>
          <td class="ingredient-calories"><%= element.calories %></td>
          <td class="ingredient-fat"><%= element.fat %></td>
          <td class="ingredient-protein"><%= element.protein %></td>
          <td class="ingredient-carbs"><%= element.carbs %></td>
          <td class="ingredient-fiber"><%= element.fiber %></td>
          <td class="ingredient-sugar"><%= element.sugar %></td>
          <td>
            <button type="submit" name="delete" value="<%= element.ingredient %>">
              <img src="https://www.drodd.com/images15/red-x11.jpeg" height="15">
            </button>
          </td>
        </tr>
      <%})%>
      <%}%>
        <tr>
          <th>TOTAL</th>
          <th><%=amount%></th>
          <th><%=calories%></th>
          <th><%=fat.toFixed(0)%></th>
          <th><%=protein.toFixed(0)%></th>
          <th><%=carbs.toFixed(0)%></th>
          <th><%=fiber.toFixed(0)%></th>
          <th><%=sugar.toFixed(0)%></th>
          <th></th>
        </tr>
      </table>
      </section>
      <input type="submit" value="Save Amount" name="update" formaction="/meal-update">
      </form>
    </main>

  </body>
</html>