<!DOCTYPE html>

<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    
    <main>
      <section class="meal-edit">
        <h1><%=ingredients[0].name%></h1>
        <p><%=ingredients[0].description%></p>
      </section>
      <form action="/meals-edit" method="post">
        <input type="hidden" name="meal_id" value="<%= ingredients[0].id%>" required>
        <input type="submit" value="Edit Meal Properties" name="update">
        <input type="submit" value="Delete Meal" name="update" formaction="/meals-delete">
      </form>
      
      <section class="search">
        <h2>Add Ingredients</h1>
        <p>Enter an item in the Search Bar to search for an ingredient to add to the meal.</p><br>
        <form action="/meals/<%= ingredients[0].id%>" method="post">
          <input type="hidden" name="meal_id" value="<%= ingredients[0].id%>" required>
          <input type="text" name="search" placeholder="Enter a Food Item" required>
          <button type="submit">Search</button>
        </form>
      </section>
      <%let count = 0;%>
      <%let amount = 0;%>
      <%let calories = 0;%>
      <%let fat = 0;%>
      <%let protein = 0;%>
      <%let carbs = 0;%>
      <%let fiber = 0;%>
      <%let sugar = 0;%>
      <form id="update-amount" action="/delete" method="post"> 
      <input type="hidden" name="meal_id" value="<%= ingredients[0].id%>" required>

      <section class="table-scroll">
      <table class="ingredient-container">
        <tr class="header">
          <th class="ingredient-name">Ingredient</th>
          <th class="ingredient-amount">Amount (g/ml)</th>
          <th class="ingredient-calories">Calories (kcal)</th>
          <th class="ingredient-fat">Total Fat (g)</th>
          <th class="ingredient-protein">Protein (g)</th>
          <th class="ingredient-carbs">Carbs (g)</th>
          <th class="ingredient-fiber">Fiber (g)</th>
          <th class="ingredient-sugar">Sugar (g)</th>
          <th class="ingredient-delete">Delete</th>
        </tr>
      <% if (ingredients[0].ingredient !==null) {%>
      <% ingredients.forEach(element => { %>
        
        <%amount += parseInt(element.amount)%>
        <%calories += parseInt(element.calories)%>
        <%fat += parseFloat(element.fat)%>
        <%protein += parseFloat(element.protein)%>
        <%carbs += parseFloat(element.carbs)%>
        <%fiber += parseFloat(element.fiber)%>
        <%sugar += parseFloat(element.sugar)%>
        <input type="hidden" name="ingredient" value="<%= element.ingredient%>">
        <tr class = "ingredient-row">
          <td class="ingredient-name <%=count%>"><a href="<%=`https://ndb.nal.usda.gov/ndb/foods/show/${element.ndbno.substring(1)}`%>" ><%= element.ingredient %></a></td>
          <td class="ingredient-amount <%=count%>"><input type="number" name="amount" value="<%=element.amount%>" onkeypress="runAmountListener(event)"/></td>
          <td class="ingredient-calories <%=count%>"><%= element.calories %></td>
          <td class="ingredient-fat <%=count%>"><%= element.fat %></td>
          <td class="ingredient-protein <%=count%>"><%= element.protein %></td>
          <td class="ingredient-carbs <%=count%>"><%= element.carbs %></td>
          <td class="ingredient-fiber <%=count%>"><%= element.fiber %></td>
          <td class="ingredient-sugar <%=count%>"><%= element.sugar %></td>
          <td>
            <button type="submit" name="delete" value="<%= element.ingredient %>">
              <img src="https://www.drodd.com/images15/red-x11.jpeg" height="15">
            </button>
          </td>
        </tr>
        <%count++;%>
      <%})%>
      <%}%>
        <tr>
          <th class="total-title">TOTAL</th>
          <th class="total-amount"><%=amount%></th>
          <th class="total-calories"><%=calories%></th>
          <th class="total-fat"><%=fat.toFixed(0)%></th>
          <th class="total-protein"><%=protein.toFixed(0)%></th>
          <th class="total-carbs"><%=carbs.toFixed(0)%></th>
          <th class="total-fiber"><%=fiber.toFixed(0)%></th>
          <th class="total-sugar"><%=sugar.toFixed(0)%></th>
          <th></th>
        </tr>
      </table>
      </section>
      <input type="submit" value="Save Amount" name="update" formaction="/meal-update">
      </form>
    </main>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

  </body>
</html>