<!DOCTYPE html>
<html>
  <body>
    <h2>Results!</h2>
      <% let count = 0; %>
      <% ingredients.forEach(element => { %>
      <section class="create-view-container <%=count%>">
        <form id="add-ingredient" action="/put" method="post">
          <ul>
            <li>Ingredient: <%= element.name %></li>
            <li>Calories (kcal): <%= element.calories %></li>
            <li>Total Fat (g): <%= element.fat %></li>
            <li>Protein (g): <%= element.protein %></li>
            <li>Carbohydrates (g): <%= element.carbs %></li>
            <li>Fiber (g): <%= element.fiber %></li>
            <li>Sugars (g): <%= element.sugar %></li>
          </ul>
        </form>
      </section>
      <%count ++; %>
      <%})%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>