<!DOCTYPE html>
<html>
  <body>
    <h2>Results!</h2>
      <% let count = 0; %>
      <% bookArr.forEach(book => { %>
      <ul id="add-button">
        <li><img src=<%= book.imgUrl%> ></li>
        <li><%= book.title %></li>
        <li>By: <%= book.author %></li>
        <button class="button-id <%=count%>" type="submit">Add This Book!</button>
      </ul>
      <section class="create-view-container <%=count%>">
        <form id="create-form" action="/add" method="post">
          <input type="text" name="title" value="<%= book.title %>">
          <input type="text" name="author" value="<%= book.author %>">
          <textarea name="description" value="<%= book.description %>" wrap="hard"><%= book.description %></textarea>
          <input type="text" name="isbn" value="<%= book.isbn %>">
          <input type="text" name="imageurl" value="<%= book.imgUrl %>">
          <input type="text" name="bookshelf" placeholder="Bookshelf Category">
          <button class="create-view-container <%=count%>" type="submit">Save Book</button>
          <button class="create-view-container <%=count%>" type="button">Hide Form</button>
        </form>
      </section>
      <%count ++; %>
    <%})%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>